/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
    margin: 0;
    gap: 2%;
}
.logo {
    min-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    max-width: 100%;
    height: auto;
    transition: max-width 0.3s;
}
.search-container {
    position: relative;
    width: 200px;
}
.search-container input[type=text] {
    width: 100%;
    padding: 3px;
    padding-left: calc(1.5vh + 1.5vw);
    border: 1px solid black;
    border-radius: 20px;
    font-size: calc(0.7vh + 0.7vw);
    box-sizing: border-box;
}
.search-icon {
    position: absolute;
    height: calc(0.7vh + 1vw);
    transform: translate(50%, -50%);
    top: 55%;
}
.location, .phone-number, .work-hours {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.7vh + 0.7vw);
}
.location {
    flex: 1;
    text-decoration: underline;
}
.icon {
    height: calc(1vh + 1vw);
    margin-right: 5%;
}
.cart {
    color: #f7f2ee;
    font-size: calc(0.5vh + 0.5vw);
    background-color: black;
    border-radius: calc(0.6vh + 0.6vw);
    padding: 0.1vw 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 0.3vw;
}
.cart-icon img {
    height: calc(0.8vh + 0.8vw);
}
.cart-count {
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    color: black;
    transform: translate(50%, -50%);
}
.icons {
    display: flex;
    justify-content: center;
}
.icons img {
    height: calc(1vh + 1vw);
}
@media (max-width: 600px) {
    header {
        padding: 2%;
    }
    .icon {
        height: calc(0.7vh + 0.7vw);
    }
    .icons img {
        height: calc(0.7vh + 0.7vw); 
    }
}

/* navbar */
.navbar-container {
    display: flex;
    justify-content: center;
    background-color: #fede01;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.78vw 0;
    margin: 0 10%;
}
.navbar-left, .navbar-right {
    display: flex;
}
.nav-button {
    background-color: transparent;
    border-radius: 15px;
    border: none;
    margin: 0.3vw 0;
    padding: 0.3vw 0.7vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: calc(0.7vh + 0.7vw);
}
.navbar-left .nav-button {
    font-weight: bold;
}
.nav-button span {
    margin-left: 2px;
    font-size: calc(0.4vh + 0.4vw);
    font-weight: bold;
}
.navbar-left .nav-button:hover {
    background-color: #fffefe;
}
.navbar-right .nav-button:hover {
    font-weight: bold;
    text-decoration: underline;
}
.nav-button:hover span {
    color: transparent;
}
@media (max-width: 600px) {
    .navbar {
        margin: 1%;
    }
    .nav-button {
        font-size: 1.6vw;
    }
}

/* offers */
.container-offers {
    margin: 3% 10%;
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    gap: 0.5%;
    grid-column-gap: 1%;
    align-items: stretch;
}
.container-offers .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-offers .left-column img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.container-offers .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-offers .right-column img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
@media (max-width: 600px) {
    .container-offers {
        margin: 3% 2%;
    }
}

/* stripes */
.stripe-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3% 0;
}
.stripe-wrapper h3, h4 {
    margin: 5px;
    text-transform: uppercase;
}
.stripe-wrapper h4 {
    font-weight: normal;
}
.stripe-container {
    flex: 1;
    height: 0.05vh;
    background-color: #c3c2c2;
    max-width: 40%;
}
@media (max-width: 600px) {
    .stripe-wrapper h3 {
        font-size: 3vw;
    }
    .stripe-wrapper h4 {
        font-size: 2.7vw;
    }
}

/* categories */
.container-categories {
    margin: 3% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 4%;
    grid-column-gap: 2%;
}
.container-categories .wrapper {
    position: relative;
    overflow: hidden;
}
.container-categories img {
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.container-categories .stripe-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5%;
}
.container-categories .stripe {
    font-size: 2vw;
}
.container-categories .text {   
    font-size: 1.6vw;
    text-transform: uppercase;
    text-align: center;
}
.container-categories a {
    text-decoration: none;
    color: black;
}
@media (max-width: 600px) {
    .container-categories {
        margin: 3% 2%;
    }
}

/* hits, fresh, styles, brands*/
.container-hits, .container-styles, .container-brands {
    display: flex;
    justify-content: center; 
 }
 .product-card {
    width: 100%;
    text-align: center;
    position: relative;
 }
 .product-card img {
    width: 100%;
 }
 .badges {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
 }
 .new-badge, .discount-badge, .economy-badge {
    display: inline-block;
    color: white;
    padding: 0.2vw 0.2vw;
    margin-bottom: 2%;
    font-size: calc(0.5vh + 0.5vw);
 }
 .new-badge {
     background-color: #4CAF50;
 }
 .discount-badge {
     background-color: #ec6c0f;
 }
 .economy-badge {
     background-color: #555454;
 }
 .product-card h5 {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-size: calc(0.6vh + 0.6vw);
    margin: 3% 0;
 }
 .product-card .price {
     font-size: calc(1.2vh + 1.2vw);
     margin: 3% 0;
     font-weight: bold;
}
.product-card .old-price {
     font-size: calc(0.8vh + 0.8vw);
     color: #888;
     text-decoration: line-through;
     margin: 3% 0;
}
.product-card button {
    background-color: #FFD700;
    color: black;
    padding: 7% 20%;
    border: none;
    border-radius: calc(1.5vh + 1.5vw);
    font-weight: bolder;
    cursor: pointer;
    font-size: calc(0.6vh + 1vw);
}
.container-styles .wrapper {
    position: relative;
    overflow: hidden;
}
.container-styles .image {
    display: block;
}
.container-styles .stripe-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5%;
}
.container-styles .stripe {
    flex: 1;
    background-color: white;
    height: 0.05vh;
}
.container-styles .text {   
    font-size: 1.5vw;
    text-align: center;
    color: white;
}
.image-carousel {
    width: 80%;
    display: grid;
    gap: 2%;
}
.container-hits .image-carousel {
    grid-template-columns: repeat(4, 1fr);
}
.container-styles .image-carousel {
    grid-template-columns: repeat(4, 1fr);
}
.container-brands .image-carousel {
    grid-template-columns: repeat(5, 1fr);
}
.image-carousel img {
    width: 100%;
} 
.arrow-left, .arrow-right {
    width: 8%;
    display: flex;
    align-items: center;
    padding: 1%;
}
.arrow-left {
    justify-content: right;
}
.arrow-right {
    justify-content: left;
}
.arrow-left img, .arrow-right img {
    max-width: 5vw;
}
.arrow-left img:hover, .arrow-right img:hover {
    filter: brightness(0);
    cursor: pointer;
    transition: filter 0.3s ease;
}
 @media (max-width: 600px) {
    .product-card .price {
        font-size: 3vw;
    }
    .product-card .old-price {
        font-size: 2.5vw;
    }
    .image-carousel {
        width: 90%;
    }
    .arrow-left, .arrow-right {
        width: 3%;
    }
    .arrow-left img, .arrow-right img {
        max-width: 3vw;
    }
}

/* about */
.about {
    background-color: #fede01;
    display: flex;
    padding: 2% 0;
    text-align: justify;
    margin-top: 5%;
}
.about img {
    margin: 1.2vh 5%;
    max-width: 25%;
    object-fit: contain;
    align-self: center;
}
.about .text {
    flex: 3;
    align-self: flex-start;
    padding-bottom: 2vh;
}
.text .title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.title h3 {
    font-weight: normal;
    text-transform: uppercase;
}
.title .stripe {
    flex: 1;
    background-color: black;
    height: 0.05vh;
}
.text p {
    margin-right: 15%;
    margin-left: 5px;
    font-size: calc(0.8vh + 0.8vw);
}
.text button {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 1% 5%;
    border-radius: calc(2vh + 2vw);
    border: none;
    margin: 0.8vh 0;
    cursor: pointer;
    font-size: calc(0.5vh + 1vw);
}
@media (max-width: 600px) {
    .about img {
        margin: 1%;
    }
    .text p {
        margin-right: 5%;
    }
    .title h3 {
        font-size: 3vw;
    }
    .text button {
        padding: 1% 2%; 
    }
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15%;
    padding: 3% 15%;
    background-color: black;
}
.column {
    color: white;
}
.column h3 {
    color: #fede01;
    font-weight: normal;
    text-transform: uppercase;
    margin: 3% 0;
}
.column p {
    text-decoration: underline;
    font-size: calc(0.6vh + 0.6vw);
}
.column .phone-number {
    font-weight: bold;
    font-size: calc(1.2vh + 1vw);
    letter-spacing: 1px;
    justify-content: left;
}
.column .text {
    font-size: calc(0.5vh + 0.5vw);
    justify-content: left;
}
.column .text p {
    text-decoration: none;
    margin: 2% 0;
}
.column .text p u {
    display: inline-block;
    margin-bottom: 5%;
}
@media (max-width: 600px) {
    footer {
        padding: 3%;
    }
    .column h3 {
        font-size: 3vw;
    }
}

/* dropdown */
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fffefe;
    margin: 10% 0%;
    width: 80vw;
    z-index: 1;
}
.dropdown-content ul {
    padding: 0;
}
.dropdown-content li a {
    color: #0000EE;
    font-size: calc(0.6vh + 0.6vw);
}
.dropdown-content li::marker {
    content: '— ';
    color: #0000EE;
    font-size: calc(0.6vh + 0.6vw);
}
.dropdown-content li a:hover {
    color: black;
}
.dropdown-content li::marker a:hover {
    color: black;
}
.dropdown-content .left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dropdown-content .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-column .content {
    margin: 2%;
    padding: 1%;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
}
.right-column .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown-content h3 {
    align-self: center;
    margin: 0;
    margin-bottom: 2%;
    font-size: calc(0.75vh + 0.75vw);
}
.dropdown-content h4 {
    text-transform: none;
    font-weight: normal;
    margin: 2% 0;
    font-size: calc(0.65vh + 0.65vw);
    color: black;
}
.dropdown-content ul {
    list-style-position: inside;
    margin: 0;
    margin-bottom: 1%;
}
.right-column .categories {
    display: flex;
    justify-content: space-between;
}
.right-column .columns {
    display: flex;
    justify-content: flex-start;
}
.column-list {
    list-style-type: none;
    padding: 0;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    column-gap: 1vw;
}
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 2%;
    grid-column-gap: 2%;
}
@media (max-width: 600px) {
    .dropdown-content {
        padding: 2%;
        width: 90vw;
    }
    .dropdown-content h3 {
        font-size: 3vw;
        margin-bottom: 1%;
    }
    .dropdown-content h4 {
        font-size: 2vw;
        margin: 1% 0;
    }
    .dropdown-content li::marker {
        font-size: 0;
    }
    .column-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 1vw;
    }
}
